<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
      <title>Meridian Framework</title>
      <meta name="generator" content="Bootply" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="../css/bootstrap.min.css" rel="stylesheet">
      <link href="../css/cover.css" rel="stylesheet">        
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>
    <div class="container centering">
      <div class="row">
        <div class="col-md-12 text-center">
          <p></br></br></p>
          <img src="/img/merid2.PNG" alt="MeridianJS">
          <h3>Meridian is an open-source web mapping framework currently under development.  If you are interested in learning more, please sign up below, follow us on Twitter, and/or star us on Github.</h3>
          </br>
          </br>
          </br>
        </div> <!-- /.col-md-12 -->
      </div> <!-- /.row -->

      <div class="row">
        <div class="col-md-12 text-center">
          <form method="POST" action="/addEmail">
            <div class="input-group" style="width:400px;text-align:center;margin:0 auto;">
            <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" name="inputemail" type="text">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
          </form>
        </div> <!-- /.col-md-12 -->
      </div> <!-- /.row -->
      <div id="footer">
        <div class="container">
        <span class="pull-left">
         <p class="text-muted"><a href="http://twitter.com/MeridianJS" target="_blank">
              <i class="fa fa-twitter"></i>
              @MeridianJS
            </a>
            <span class="separator">&middot;</span>
            <a href="https://github.com/CartoLabs/MeridianJS" target="_blank">
              <i class="fa fa-github"></i>
              GitHub
            </a>
            </p>
            </span>
            <span class="pull-right">
              <p class="text-muted">Built by CartoLabs and Fearless Solutions</p></span>
        </div>
      </div>


    <!-- </div> -->


        
        <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="../js/bootstrap.min.js"></script>





        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            
        
        });
        
        </script>
        
    </body>
</html>